# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
ENV/
.env/
.envrc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Streamlit
.streamlit/

# Misc
*.sqlite3
*.db

# Ignore Anthropic API key if present
anthropic_api_key.txt

*.png